ConnectionStrings__DefaultConnection=

Jwt__Key=
Jwt__Issuer=
Jwt__Audience=

Email__SenderName=
Email__SenderAddress=
Email__Host=
Email__PrimaryPort=
Email__Username=
Email__Password=

Frontend__BaseUrl=http://localhost:5173
Frontend__CalendarPath=/calendar
Frontend__LoginPath=/login

CloudflareR2__BucketName=
CloudflareR2__AccessKey=
CloudflareR2__SecretKey=
CloudflareR2__ServiceUrl=
